@charset "UTF-8";

* { font-family: 'Times New Roman', Times, serif}

p { text-align: justify;}

body {
    background-image: linear-gradient(to top, #C59B82, #D6B5A2);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #886b5aa1;
    width: 700px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #7D4842;
    text-align: center;
    text-shadow: 1px 1px 2px #3f2522af;
}

h2 {
    color: #343844;
}